.controls {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include breakpoint( $controls-breakpoint ) { 
    flex-wrap: nowrap;
  };

  #{$all-buttons} { height: $controls-height; }

  @import 'density';
  @import 'paging';
  @import 'filtering';

}