.letter {
  
  > table {
    
    tbody { max-height: 800px; }
    
    --th: 100%;
    --td: 100%;
    
    th { width: var(--th); }
    td { width: var(--td); }

    @include breakpoint( $controls-breakpoint ) {
      --th: 25%;
      --td: calc(100% - var(--th));
    };
    
  }
  
}