.letter {
  
  > table {
    
    tbody { max-height: 800px; }
    
    --th: 100%;
    --td: 100%;
    
    th { width: var(--th); }
    td { width: var(--td); }

    @include breakpoint( $controls-breakpoint ) {
      --th: 30%;
      --td: calc(100% - var(--th));
    };
    
    td[colspan] { width: auto; }
    td[colspan="2"] { width: 100%; }
    
    td.has-glossary { flex-wrap: wrap; }
    
    .btn-glossary { 
      margin-left: 5px; 
      background: transparent;
      border: 0;
      @include size( 1.5em );
      font-size: 1.25em;
      padding: 0;
      @include on-hover-focus(opacity, .5, .75);
    }
    
  }
  
}