.list {

  .controls {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    
    @include breakpoint( $controls-breakpoint ) { 
      height: $controls-height; 
      flex-wrap: nowrap;
    };
    
    > * { align-self: stretch; }
    
    #{$all-buttons} { height: $controls-height; }
    
    @import 'density';
    @import 'paging';
    @import 'filtering';
    
  }
  
  > table {
    
    @import 'sort';
    
    tbody{ max-height: 500px; }
    
    --date: 100%;
    --recipient: 100%;
    --origin: 100%;
    --destination: 100%;
    
    .date { width: var(--date); }
    .recipient { width: var(--recipient); }
    .origin { width: var(--origin); }
    .destination { width: var(--destination); }

    @include breakpoint( $controls-breakpoint ) {
      --date: 150px;
      --recipient: calc(100% - var(--date) - var(--origin) - var(--destination));
      --origin: 150px;
      --destination: 150px;
    };
    
  }
  
}