.list {

  @import 'controls';
  
  > table {
    
    @import 'sort';
    
    tbody{ max-height: 500px; }
    
    tr { @include on-hover-focus(z-index, auto, 1); }
    
    --date: 100%;
    --recipient: 100%;
    --origin: 100%;
    --destination: 100%;
    
    .date { width: var(--date); }
    .recipient { width: var(--recipient); }
    .origin { width: var(--origin); }
    .destination { width: var(--destination); }

    @include breakpoint( $controls-breakpoint ) {
      --date: 125px;
      --recipient: calc(100% - var(--date) - var(--origin) - var(--destination));
      --origin: 200px;
      --destination: 200px;
    };
    
  }
  
}