.loading {
  width: 100%;
  height: $layout-min-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(color('black'), .75);
  padding-top: 100px;
  
  .icon {
    padding: 25px;
    font-size: 5em;
    background-color: color('blue', 'powder');
    border-radius: 3px;
    
    &::before { display: block; animation: spin 1.5s linear forwards infinite; }
    
    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    
  }
  
  .text {
    color: rgba(color('white'), .75);
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .animation {
    width: 100%;
    max-width: 350px;
  }
  
  .progress {
    width: 80%;
    height: $controls-height;
    border-radius: 3px;
    border: 1px solid color('grey');
    background-color: rgba(color('blue', 'powder'), .5);
    overflow: hidden;
    
    .bar {
      transition: $transition-all;
      height: 100%;
      width: 0%;
      background-color: color('blue');
    }
    
  }
  
}