.paging {
  font-size: .8em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  @include breakpoint( $controls-breakpoint ) { 
    flex-wrap: nowrap; 
    margin-left: auto;
    width: auto;
  };
  
  .rows, .toggles { 
    display: flex;
    height: $controls-height;
    width: 100%;
    @include margin-y( 10px);
    align-items: center;
    
    @include breakpoint( $controls-breakpoint ) {
      width: auto;
      @include margin-y( 0 );
    };
    
  }
  
  .rows {
    
    .label { margin-right: 10px; }
    
    .select {
      flex-grow: 1;
      height: 100%;
    
      @include breakpoint( $controls-breakpoint ) { 
        width: 2.5rem + rem($controls-height); 
        flex-grow: unset;
      };
      
    }
    
    @include breakpoint( $controls-breakpoint ) { @include margin-x( 10px ); };
    
  }
  
  .toggles {
    
    $border: 1px solid color('grey');
    
    ul {
      list-style-type: none;
      padding: 0;
      height: 100%;
      display: flex;
      flex-grow: 1;

      li {
        height: $controls-height;
        flex-grow: 1;
        transition: $transition-all;

        @include breakpoint( $controls-breakpoint ) {
          width: $controls-height;
          @include on-hover-focus(background-color, color('white'), color('white', 'off'));
        };
        
        &.active {
          $color: mix(color('blue'), color('white'), 75%);
          background-color: $color;
          color: color-contrast($color);
          font-weight: normal;
          font-size: 1em;
        }

      }

      .btn-page { 
        background: transparent;
        border: none;
        color: inherit;
        @include size( 100% );
        @include absolute-center-contents;
      }
      
      @include breakpoint( $controls-breakpoint ) { flex-grow: unset; };

    }

    .btn-arrow { 
      $normal: color('grey', 'light');
      $hover: color('grey');
      padding: 0;
      @include size( $controls-height ); 
      font-size: 1.25rem;
      @include absolute-center-contents;
      background-image: none;
      border-radius: 0;
      border: 0;
      @include on-hover-focus(background-color, $normal, $hover);
      @include on-hover-focus(color, color-contrast($normal), color-contrast($hover));
      &[disabled] { 
        @include on-hover-focus(background-color, rgba($normal, .25), rgba($hover, .25));
        @include on-hover-focus(color, rgba(color-contrast($normal), .25), rgba(color-contrast($hover), .25));
      }
    }
    
    li, .btn-arrow {
      @include border-y( $border );
      border-left: $border;
      transition: $transition-all;
    }
    
    #{$all-buttons} { @include on-focus(z-index, auto, 1); }
    
    > :first-child { @include border-left-radius( 3px ); }
    > :last-child { @include border-right-radius( 3px ); border-right: $border; }
    
  }
  
  > * { align-self: stretch; }
  
}