table {
  $border: 1px solid color('grey');
  
  width: 100%;
  border-collapse: collapse;
  
  thead, tbody, tfoot { display: block; width: 100%; }
  
  tr { 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    align-items: center;
  }

  thead { 
    text-align: left;
    color: color('grey', 'dark');
    font-size: 1.1em;
    background-color: color('grey', 'light');
    border: $border;
    border-bottom: 0;
  }

  tbody {
    max-height: 1000px;
    overflow: auto; 
    border: $border;
    tr {
      transition: $transition-all;
      border-bottom: $border;
      &:last-child { border-bottom: 0; }
    }
    th { 
      background-color: rgba(color('black'), .05); 
      text-align: left;
      align-items: flex-start;
    }
  }
  
  tfoot { 
    border: $border;
    border-top: 0;
    font-size: .8em;
    tr { display: table-row }
    td, th { display: table-cell; }
  }
  
  thead + tbody {
    tr:first-child {
      td, th { border-top: 0; }
    }
  }

  td, th { 
    padding: 10px; 
    min-height: calc(1.5em + (10px * 2));
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include breakpoint( $controls-breakpoint ) { 
      justify-content: flex-start; 
      text-align: left;
    }
  }

  &[density="light"] {
    td, th { 
      @include padding-y(15px); 
      min-height: calc(1.5em + (15px * 2));
    } 
  }
  &[density="medium"] { 
    td, th { 
      @include padding-y(10px); 
      min-height: calc(1.5em + (10px * 2));
    }
  }
  &[density="heavy"] { 
    td, th { 
      @include padding-y(5px); 
      min-height: calc(1.5em + (5px * 2));
    }
  }
  
  &.striped tbody tr {
    @include even { background-color: color('white', 'off'); }; 
  }
  &.highlight tbody tr {
    &:hover, &:focus { background-color: color('blue', 'powder'); }
    cursor: pointer;
  }
  
  .asterisk { font-size: .5em; margin-right: 5px; }
  
  &.borderless {
    
    thead, tbody, tfoot, tr, td, th { border: 0; }
    
  }

}