<footer>
  
  <div class="layout">
  
    <div class="note">
      
      This site is supported by LITS and the Center for Digital Scholarship. Photographs of Samuel Beckett used by kind permission of Vera Spoerri Mercer.

      <div class="copyright">

        <span>Copyright &copy; {{moment().format('YYYY')}} Emory University - All Rights Reserved</span> 
        <span>{{address}}</span> 
        <span>{{phone}}</span>

      </div>
      
    </div>

    <div class="logo">

      include "logos/lits.svg"

    </div>
    
  </div>

</footer>