// Configure Brandy.
$brandy-colors-map: $colors;
$brandy-fonts-map: $fonts;
$brandy-screens-map: $screens;
$brandy-dark-text: color('black', 'off');
$brandy-light-text: color('white');

@include add-buttons('.button');

// Define global variables.
$header-height: 60px;
$layout-max-width: 1170px;
$layout-min-height: calc(100vh - #{$header-height});
$controls-height: 40px;
$transition-duration: .2s;
$transition-timing: ease;
$transition-all: all $transition-duration $transition-timing;